.login-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  width: 100%;
  padding: 10px;
  background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
  url(https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQsYb7l_nVWlGqLmGoaVeMH7O_MAIclG3iU_fyh2MwHbw&s);
  background-repeat:no-repeat ;
  background-size: cover;
}
.login-main {
  width: 100%;
  display: flex;
  flex-direction: column;
  text-align: center;
  justify-content: center;
  max-width: 500px;
  gap: 20px;
  background-color: rgb(0, 7, 83);
  border-radius: 10px;
  padding: 20px;
  border: 1.5px solid rgba(0, 117, 212, 0.548);
   h1 {
    font-size: 27px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  }
}
form div input {
  width: 90%;
  height: 2.5rem;
  border: 0;
  border-radius: 4px;
  margin-top: 5px;
  background-color: rgb(238, 238, 238);
  color: rgb(0, 0, 0);
  padding-left: 10px;
}
.button-go {
  display: flex;
  gap: 10px;
  flex-direction: column;
  align-items: center;
  button {
    width: 90%;
    height: 2.5rem;
    border: 0;
    border-radius: 8px;
    background-color: #103787;
    border: 1.5px solid rgb(0, 117, 212);
    color: #fff;
  }
  button:hover {
    background-color: #001c54;
    transform: scale(1.03);
  }
}
.msg-error {
  color: rgb(248, 0, 0);
}
.load {
  display: flex;
  justify-content: center;
}
.form-input div {
display: flex;
gap: 5px;
justify-content: center;
align-items: center;
ion-icon {
  font-size: 25px;
}
}