$primary:  rgb(0, 6, 70);

.container-chat {
  display: flex;
  width: 100%;
  height: 100vh;
}
.profile {
  display: flex;
  align-items: center;
  gap: 10px;
  span {
    margin-left: 10px;
  }
  div {
    background-color: rgb(122, 122, 122);
    border-radius: 10%;
  }
}
.cont-header {
  background-color: $primary;
  display: flex;
  justify-content: space-between;
  padding: 10px 30px 10px 30px;
  position: fixed;
  width: 30%;
  z-index: 9;
}
.profile-chat {
  width: 30%;
}

.button-chat {
  display: flex;
  align-items: center;
  width: 50px;
  ion-icon {
    font-size: 30px;
  }
  button {
    border: 0;
    border-radius: 10px;
  }
}

.chat-ofc {
  width: 70%;
  height: 100vh;
  background-color: $primary;
  position: fixed;
  right: 0px;
  border-left: 1px solid rgb(185, 185, 185);
}
.info-chat {
  justify-content: space-between;
  margin-top: 5px;
  margin-bottom: 5px;
  display: flex;
  gap: 13px;
  cursor: pointer;
  border-bottom: 2px solid rgb(43, 53, 92);
  border-top: 2px solid rgb(43, 53, 92);
  display: flex;
  padding: 10px;
  border-radius: 4px;
}
.icon-profile {
  background-color: rgb(49, 61, 106);
  padding: 5px;
  border-radius: 10%;
}
.homeone {
  margin-top: 80px;
}
.butt-msg {
  background-color: $primary;
  color: rgb(255, 255, 255);
  border: 0;
}
.msg {
  background-color: rgb(0, 0, 0);
  height: 85vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 10px;
  button {
    border: 0;
    background-color: rgb(29, 175, 139);
    color: aliceblue;
    height: 2rem;
    border-radius: 4px;
    padding: 2px;
  }
}
.custom-loader {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background: conic-gradient(#0000 10%, #3728ff);
  -webkit-mask: radial-gradient(farthest-side, #0000 calc(100% - 8px), #000 0);
  animation: s3 1s infinite linear;
}
@keyframes s3 {
  to {
    transform: rotate(1turn);
  }
}
.inc-msg {
  background-color: $primary;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 10px;
}
.read {
  margin-right: 10px;
  display: flex;
  justify-content: end;
  ion-icon {
    font-size: 25px;
  }
}
.cont-profile {
  display: flex;
  gap: 10px;
}
.send .msg-read {
  display: none;
}
.received .ionn {
  display: none;
}
.buttons {
  display: flex;
  gap: 10px;
}
.but-msg {
  width: 30%;
}
.user {
  background-color: rgba(15, 38, 124, 0.678);
}
@media (max-width: 600px) {
  .chat-ofc {
    display: none;
  }
  .cont-header {
    width: 100%;
  }
  .profile-chat {
    width: 100%;
  }
}
.ionn,
.msg-read {
  display: flex;
  justify-content: center;
  align-items: center;
}
